flows.json
[
    {
        "id": "98d41cddef00471d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e9215f9fed73afd",
        "type": "notion integration",
        "name": "test",
        "apiKey": "secret_LUT6cPMFaoFhTXNSqxhUSsSSPDndlQMvqYLRFTBDeGu"
    },
    {
        "id": "fff9da97b05a4227",
        "type": "query database",
        "z": "98d41cddef00471d",
        "integration": "2e9215f9fed73afd",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "12d01e0d30838de8"
            ]
        ]
    },
    {
        "id": "4507c4c4d9e4554f",
        "type": "inject",
        "z": "98d41cddef00471d",
        "name": "",
        "props": [
            {
                "p": "pageId",
                "v": "86fac854e975475a8435b6fe3fe922b8",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "fff9da97b05a4227"
            ]
        ]
    },
    {
        "id": "12d01e0d30838de8",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "76530509eae4d170",
        "type": "get page",
        "z": "98d41cddef00471d",
        "integration": "2e9215f9fed73afd",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "b8e7ba38e9493f1c"
            ]
        ]
    },
    {
        "id": "99c3205dcfe8daae",
        "type": "inject",
        "z": "98d41cddef00471d",
        "name": "",
        "props": [
            {
                "p": "pageId",
                "v": "5394310b-4d94-46e1-8bd2-3ed17b44aeab",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "76530509eae4d170"
            ]
        ]
    },
    {
        "id": "b8e7ba38e9493f1c",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "ee4850bd45e11287",
        "type": "update page",
        "z": "98d41cddef00471d",
        "integration": "2e9215f9fed73afd",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "e79573c740e73354"
            ]
        ]
    },
    {
        "id": "e2eb8f7519f98cae",
        "type": "inject",
        "z": "98d41cddef00471d",
        "name": "",
        "props": [
            {
                "p": "pageId",
                "v": "5394310b-4d94-46e1-8bd2-3ed17b44aeab",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "ee4850bd45e11287"
            ]
        ]
    },
    {
        "id": "e79573c740e73354",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "0c00abc48d7dc668",
        "type": "get block children",
        "z": "98d41cddef00471d",
        "integration": "2e9215f9fed73afd",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "4e69eaea9bdb65ac"
            ]
        ]
    },
    {
        "id": "ac7d58b5cb1a7d58",
        "type": "inject",
        "z": "98d41cddef00471d",
        "name": "",
        "props": [
            {
                "p": "blockId",
                "v": "5394310b-4d94-46e1-8bd2-3ed17b44aeab",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "0c00abc48d7dc668"
            ]
        ]
    },
    {
        "id": "4e69eaea9bdb65ac",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "edea20d0b7b2b37f",
        "type": "get database",
        "z": "98d41cddef00471d",
        "integration": "2e9215f9fed73afd",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "50c7790dd2fc5c98"
            ]
        ]
    },
    {
        "id": "012911f5a79e75d0",
        "type": "inject",
        "z": "98d41cddef00471d",
        "name": "",
        "props": [
            {
                "p": "pageId",
                "v": "86fac854e975475a8435b6fe3fe922b8",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "edea20d0b7b2b37f"
            ]
        ]
    },
    {
        "id": "50c7790dd2fc5c98",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 400,
        "wires": []
    }
]