flows.json
[
    {
        "id": "98d41cddef00471d",
        "type": "tab",
        "label": "rss",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "adb9cf7a321a3e04",
        "type": "tab",
        "label": "pipeline",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "76076b827daf890b",
        "type": "tab",
        "label": "notion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be070c1ddf78f5bd",
        "type": "tab",
        "label": "playground",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89829a181a0a3d4b",
        "type": "tab",
        "label": "web",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "2e9215f9fed73afd",
        "type": "notion integration",
        "name": "test",
        "apiKey": "secret_LUT6cPMFaoFhTXNSqxhUSsSSPDndlQMvqYLRFTBDeGu"
    },
    {
        "id": "0765a7445c5bec6e",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "localhost",
        "port": "",
        "dbName": "marketing",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "204746069e0ec785",
        "type": "amqp-broker",
        "name": "",
        "host": "localhost",
        "port": "5672",
        "vhost": "",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "b61d28486ad60365",
        "type": "queue",
        "z": "98d41cddef00471d",
        "name": "",
        "input": "payload",
        "inputType": "msg",
        "addFields": "[\"news\",\"tech\"]",
        "addFieldsType": "json",
        "pourType": "interval",
        "pourTypeType": "pourType",
        "pourTime": "1",
        "pourTimeType": "num",
        "pourAmount": "1",
        "pourAmountType": "num",
        "maxUseMemory": "",
        "x": 530,
        "y": 220,
        "wires": [
            [
                "245fad708cf8508a"
            ]
        ]
    },
    {
        "id": "06fe21b91623c385",
        "type": "feedparse",
        "z": "98d41cddef00471d",
        "name": "",
        "url": "https://www.nu.nl/rss/Tech",
        "interval": "1",
        "ignorefirst": true,
        "x": 130,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4bf9d21f8d23e77d",
        "type": "change",
        "z": "98d41cddef00471d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"title\": article.title,\t    \"description\": article.description,\t    \"summary\": article.summary,\t    \"date\": article.date,\t    \"pubdate\": article.pubdate,\t    \"link\": article.link,\t    \"guid\": article.guid,\t    \"author\": article.author,\t    \"image\": article.image,\t    \"enclosures\": article.enclosures\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "b61d28486ad60365"
            ]
        ]
    },
    {
        "id": "245fad708cf8508a",
        "type": "change",
        "z": "98d41cddef00471d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "routingKey",
                "pt": "msg",
                "to": "router",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "ec10675d9ce489dc"
            ]
        ]
    },
    {
        "id": "ca67469557bdb35b",
        "type": "http in",
        "z": "98d41cddef00471d",
        "name": "",
        "url": "/feeds",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "b30ad77929c1d5fd"
            ]
        ]
    },
    {
        "id": "b30ad77929c1d5fd",
        "type": "template",
        "z": "98d41cddef00471d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<?xml-stylesheet href=\"/public/style.xsl\" type=\"text/xsl\"?>\n<rss xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\" xmlns:dcterms=\"http://purl.org/dc/terms/\" version=\"2.0\">\n  <channel>\n    <title><![CDATA[NOS Tech]]></title>\n    <link><![CDATA[https://nos.nl]]></link>\n    <description><![CDATA[NOS Tech]]></description>\n    <language>nl</language>\n    <copyright>Copyright NOS</copyright>\n    <pubDate>Thu, 09 May 2024 19:10:18 +0200</pubDate>\n    <webMaster>podcast@nos.nl (NOS Podcast Beheer)</webMaster>\n    <item>\n      <title><![CDATA[TikTok zet aanval in tegen wet VS die app dwingt tot verkoop of verbod]]></title>\n      <link>https://nos.nl/l/2519665</link>\n      <description><![CDATA[<p>Video-app TikTok heeft een rechtszaak aangespannen tegen de Amerikaanse overheid. Doel is om een wet te voorkomen waarmee het Chinese moederbedrijf ByteDance wordt gedwongen TikTok te verkopen. Het is het begin van een waarschijnlijk lange procedure die vermoedelijk eindigt bij het Hooggerechtshof.</p>\n<p>\"Voor de eerste keer in de geschiedenis heeft het Congres een wet aangenomen die een platform onderwerpt aan een permanent landelijk verbod\", zegt TikTok. Het bedrijf noemt de wet \"ongrondwettelijk\" en stelt dat de wet ingaat tegen de vrijheid van meningsuiting, een zeer groot goed in de VS.</p>\n<h2>Verkopen of verboden</h2>\n<p>Aanleiding voor de aanklacht is een wet die twee weken geleden werd ondertekend door president Biden. Die stelt dat TikTok verkocht moet worden binnen negen maanden, een periode die nog eens kan worden verlengd met drie maanden. Lukt dat niet binnen die tijd, dan wordt de app in feite verboden in de VS.</p>\n<p>In de praktijk mogen de downloadwinkels van Apple en Google - die samen de mobiele markt domineren - de app dan niet meer aanbieden aan nieuwe klanten. Nog belangrijker is dat ook hostingpartijen, die zorgen dat dit soort apps functioneren, ook geen zaken meer mogen doen met TikTok.</p>\n<p>In de aanklacht zegt TikTok dat een verkoop \"simpelweg niet mogelijk is: niet commercieel, niet technologisch, niet juridisch\". En volgens het bedrijf kan dit helemaal niet binnen de gestelde negen maanden. \"Er is geen twijfel: de wet dwingt het sluiten van TikTok af per 15 januari 2025, waarmee 170 miljoen Amerikanen die het platform gebruiken het zwijgen wordt opgelegd.\"</p>\n<p>Ook stelt het bedrijf dat een losstaande Amerikaanse versie van TikTok niet \"commercieel realistisch is\". Dit omdat TikTok, net als concurrenten, wereldwijd opereren met content die overal beschikbaar is. Als de app in de VS wordt losgetrokken van de rest, zo betoogt het bedrijf, wordt de app een \"eiland\". Gebruikers zien dan dus niets vanuit andere delen van de wereld en daarmee wordt de app veel minder waard.</p>\n<h2>Chinese makelij</h2>\n<p>Amerikaanse politici zijn al tijden heel kritisch op TikTok. Dat heeft ermee te maken dat de app van Chinese makelij is en onderdeel is van het in China opgerichte ByteDance. De vrees is dat Peking via de app bij data van tientallen miljoenen Amerikanen kan komen en dat de overheid via het algoritme desinformatie kan verspreiden.</p>\n<p>Bewijs dat dit ook daadwerkelijk gebeurt is nog nooit gegeven. TikTok heeft de beschuldigingen over inmenging vanuit Peking altijd tegengesproken. Ook het feit dat veel kinderen in de VS vermoedelijk verslaafd zijn aan de app is een belangrijk punt.</p>\n<p>Het leidde al tot meerdere pogingen om de app te verbieden. Zo probeerde in 2020 toenmalig president Trump dat, maar zijn poging strandde in de rechtszaal. Vorig jaar maart leek een verbod opnieuw nabij, na een zeer pittige hoorzitting van de ceo van TikTok voor het Amerikaanse Congres. Wetsvoorstellen verdwenen daarna echter van het toneel.</p>\n<p>Daarna werd het maandenlang stil. Maar schijn bedriegt: achter de schermen werd gewerkt aan een wet die mogelijk wel een rechtszaak zou overleven. Die wet kwam in maart door het Huis van Afgevaardigden, maar leek vervolgens te stranden in de Senaat. Totdat deze werd toegevoegd aan steunpakketten voor Israël en Oekraïne. Daarbij werd de periode die ByteDance kreeg om de verkoop te regelen langer gemaakt.</p>\n<p>ByteDance lijkt ondertussen een verkoop niet te zien zitten. Persbureau Reuters meldde eind vorige maand op basis van bronnen dat het moederbedrijf liever TikTok ziet verdwijnen uit de VS dan dat het tot een overname komt. De enige optie die dan overblijft, is de juridische weg. Die is vandaag officieel ingeslagen.</p>\n]]></description>\n      <enclosure type=\"image/jpeg\" url=\"https://cdn.nos.nl/image/2024/05/07/1079944/1008x567.jpg\"/>\n      <pubDate>Tue, 07 May 2024 20:13:27 +0200</pubDate>\n      <guid isPermaLink=\"true\">https://nos.nl/l/2519665</guid>\n    </item>\n   \n  </channel>\n</rss>\n",
        "output": "str",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "681988b4f2ceae79"
            ]
        ]
    },
    {
        "id": "681988b4f2ceae79",
        "type": "http response",
        "z": "98d41cddef00471d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "c0e054ead90d8160",
        "type": "feedparse",
        "z": "98d41cddef00471d",
        "name": "",
        "url": "http://localhost:1880/feeds",
        "interval": "1",
        "ignorefirst": true,
        "x": 130,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c6c2033fb735ed",
        "type": "inject",
        "z": "98d41cddef00471d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "article",
                "v": "{\"title\":\"TikTok zet aanval in tegen wet VS die app dwingt tot verkoop of verbod\",\"description\":\"<p>Video-app TikTok heeft een rechtszaak aangespannen tegen de Amerikaanse overheid. Doel is om een wet te voorkomen waarmee het Chinese moederbedrijf ByteDance wordt gedwongen TikTok te verkopen. Het is het begin van een waarschijnlijk lange procedure die vermoedelijk eindigt bij het Hooggerechtshof.</p>\\n<p>\\\"Voor de eerste keer in de geschiedenis heeft het Congres een wet aangenomen die een platform onderwerpt aan een permanent landelijk verbod\\\", zegt TikTok. Het bedrijf noemt de wet \\\"ongrondwettelijk\\\" en stelt dat de wet ingaat tegen de vrijheid van meningsuiting, een zeer groot goed in de VS.</p>\\n<h2>Verkopen of verboden</h2>\\n<p>Aanleiding voor de aanklacht is een wet die twee weken geleden werd ondertekend door president Biden. Die stelt dat TikTok verkocht moet worden binnen negen maanden, een periode die nog eens kan worden verlengd met drie maanden. Lukt dat niet binnen die tijd, dan wordt de app in feite verboden in de VS.</p>\\n<p>In de praktijk mogen de downloadwinkels van Appl...\",\"summary\":\"<p>Video-app TikTok heeft een rechtszaak aangespannen tegen de Amerikaanse overheid. Doel is om een wet te voorkomen waarmee het Chinese moederbedrijf ByteDance wordt gedwongen TikTok te verkopen. Het is het begin van een waarschijnlijk lange procedure die vermoedelijk eindigt bij het Hooggerechtshof.</p>\\n<p>\\\"Voor de eerste keer in de geschiedenis heeft het Congres een wet aangenomen die een platform onderwerpt aan een permanent landelijk verbod\\\", zegt TikTok. Het bedrijf noemt de wet \\\"ongrondwettelijk\\\" en stelt dat de wet ingaat tegen de vrijheid van meningsuiting, een zeer groot goed in de VS.</p>\\n<h2>Verkopen of verboden</h2>\\n<p>Aanleiding voor de aanklacht is een wet die twee weken geleden werd ondertekend door president Biden. Die stelt dat TikTok verkocht moet worden binnen negen maanden, een periode die nog eens kan worden verlengd met drie maanden. Lukt dat niet binnen die tijd, dan wordt de app in feite verboden in de VS.</p>\\n<p>In de praktijk mogen de downloadwinkels van Appl...\",\"date\":\"2024-05-07T18:13:27.000Z\",\"pubdate\":\"2024-05-07T18:13:27.000Z\",\"pubDate\":\"2024-05-07T18:13:27.000Z\",\"link\":\"https://nos.nl/l/2519665\",\"guid\":\"https://nos.nl/l/2519665\",\"author\":\"NOS Podcast Beheer\",\"comments\":null,\"origlink\":null,\"image\":{},\"source\":{},\"categories\":[],\"enclosures\":[{\"url\":\"https://cdn.nos.nl/image/2024/05/07/1079944/1008x567.jpg\",\"type\":\"image/jpeg\",\"length\":null}],\"rss:@\":{},\"rss:title\":{\"@\":{},\"#\":\"TikTok zet aanval in tegen wet VS die app dwingt tot verkoop of verbod\"},\"rss:link\":{\"@\":{},\"#\":\"https://nos.nl/l/2519665\"},\"rss:description\":{\"@\":{},\"#\":\"<p>Video-app TikTok heeft een rechtszaak aangespannen tegen de Amerikaanse overheid. Doel is om een wet te voorkomen waarmee het Chinese moederbedrijf ByteDance wordt gedwongen TikTok te verkopen. Het is het begin van een waarschijnlijk lange procedure die vermoedelijk eindigt bij het Hooggerechtshof.</p>\\n<p>\\\"Voor de eerste keer in de geschiedenis heeft het Congres een wet aangenomen die een platform onderwerpt aan een permanent landelijk verbod\\\", zegt TikTok. Het bedrijf noemt de wet \\\"ongrondwettelijk\\\" en stelt dat de wet ingaat tegen de vrijheid van meningsuiting, een zeer groot goed in de VS.</p>\\n<h2>Verkopen of verboden</h2>\\n<p>Aanleiding voor de aanklacht is een wet die twee weken geleden werd ondertekend door president Biden. Die stelt dat TikTok verkocht moet worden binnen negen maanden, een periode die nog eens kan worden verlengd met drie maanden. Lukt dat niet binnen die tijd, dan wordt de app in feite verboden in de VS.</p>\\n<p>In de praktijk mogen de downloadwinkels van Appl...\"},\"rss:enclosure\":{\"@\":{\"type\":\"image/jpeg\",\"url\":\"https://cdn.nos.nl/image/2024/05/07/1079944/1008x567.jpg\"}},\"rss:pubdate\":{\"@\":{},\"#\":\"Tue, 07 May 2024 20:13:27 +0200\"},\"permalink\":\"https://nos.nl/l/2519665\",\"rss:guid\":{\"@\":{\"ispermalink\":\"true\"},\"#\":\"https://nos.nl/l/2519665\"},\"meta\":{\"#ns\":[{\"xmlns:itunes\":\"http://www.itunes.com/dtds/podcast-1.0.dtd\"},{\"xmlns:dcterms\":\"http://purl.org/dc/terms/\"}],\"@\":[{\"xmlns:itunes\":\"http://www.itunes.com/dtds/podcast-1.0.dtd\"},{\"xmlns:dcterms\":\"http://purl.org/dc/terms/\"}],\"#xml\":{\"version\":\"1.0\",\"encoding\":\"UTF-8\"},\"#type\":\"rss\",\"#version\":\"2.0\",\"title\":\"NOS Tech\",\"description\":\"NOS Tech\",\"date\":\"2024-05-09T17:10:18.000Z\",\"pubdate\":\"2024-05-09T17:10:18.000Z\",\"pubDate\":\"2024-05-09T17:10:18.000Z\",\"link\":\"https://nos.nl\",\"xmlurl\":null,\"xmlUrl\":null,\"author\":\"NOS Podcast Beheer\",\"language\":\"nl\",\"favicon\":null,\"copyright\":\"Copyright NOS\",\"generator\":null,\"cloud\":{},\"image\":{},\"categories\":[],\"rss:@\":{},\"rss:title\":{\"@\":{},\"#\":\"NOS Tech\"},\"rss:link\":{\"@\":{},\"#\":\"https://nos.nl/\"},\"rss:description\":{\"@\":{},\"#\":\"NOS Tech\"},\"rss:language\":{\"@\":{},\"#\":\"nl\"},\"rss:copyright\":{\"@\":{},\"#\":\"Copyright NOS\"},\"rss:pubdate\":{\"@\":{},\"#\":\"Thu, 09 May 2024 19:10:18 +0200\"},\"rss:webmaster\":{\"@\":{},\"#\":\"podcast@nos.nl (NOS Podcast Beheer)\",\"name\":\"NOS Podcast Beheer\",\"email\":\"podcast@nos.nl\"}}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ec10675d9ce489dc",
        "type": "link out",
        "z": "98d41cddef00471d",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "73c4bf0b72565dc6"
        ],
        "x": 835,
        "y": 220,
        "wires": []
    },
    {
        "id": "4a082d05e12484d8",
        "type": "catch",
        "z": "98d41cddef00471d",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "c9edbe02a7144975"
            ]
        ]
    },
    {
        "id": "c9edbe02a7144975",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "afd096a87e22e8bd",
        "type": "http in",
        "z": "98d41cddef00471d",
        "name": "",
        "url": "/rss",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "631fc859cb7c6a74"
            ]
        ]
    },
    {
        "id": "2e28d97213516e63",
        "type": "http response",
        "z": "98d41cddef00471d",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/xml"
        },
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "501222a40bb4f594",
        "type": "function",
        "z": "98d41cddef00471d",
        "name": "function 1",
        "func": "const RSS = global.get('RSS')\nconst dbFeeds = msg.payload || [];\nvar feeds = new RSS({\n  title: \"title\",\n  description: \"description\",\n});\n\n// feeds.item({\n//   title: \"item title\",\n//   description: \"use this for the content. It can include html.\",\n// });\n\ndbFeeds.forEach(({ title, description}) => {\n  feeds.item({\n    title,\n    description,\n  })\n})\nconst xmlResponse = feeds.xml({ indent: false });\n\nmsg.payload = xmlResponse\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 460,
        "wires": [
            [
                "2e28d97213516e63"
            ]
        ]
    },
    {
        "id": "a0a2d63120f972d0",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "7f5b781608648101",
        "type": "feedparse",
        "z": "98d41cddef00471d",
        "name": "",
        "url": "http://localhost:1880/rss",
        "interval": "1",
        "ignorefirst": false,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "8cd6d882a037ce4b"
            ]
        ]
    },
    {
        "id": "8cd6d882a037ce4b",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 400,
        "wires": []
    },
    {
        "id": "631fc859cb7c6a74",
        "type": "change",
        "z": "98d41cddef00471d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "upwork",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "find",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{},{\"sort\":{\"date\":-1},\"projection\":{\"_id\":0,\"title\":1,\"description\":1,\"date\":1},\"limit\":20}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "376af23897bef38c"
            ]
        ]
    },
    {
        "id": "376af23897bef38c",
        "type": "mongodb4",
        "z": "98d41cddef00471d",
        "clientNode": "0765a7445c5bec6e",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 510,
        "y": 460,
        "wires": [
            [
                "501222a40bb4f594",
                "0df8e8a786235ad1"
            ]
        ]
    },
    {
        "id": "271bfa66a73b7cca",
        "type": "inject",
        "z": "98d41cddef00471d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "0244f35f10f93926"
            ]
        ]
    },
    {
        "id": "0244f35f10f93926",
        "type": "change",
        "z": "98d41cddef00471d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "upwork",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "insertOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 740,
        "wires": [
            [
                "c71bd34f172b9cff"
            ]
        ]
    },
    {
        "id": "b359af44360a2411",
        "type": "mongodb4",
        "z": "98d41cddef00471d",
        "clientNode": "0765a7445c5bec6e",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 810,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c71bd34f172b9cff",
        "type": "function",
        "z": "98d41cddef00471d",
        "name": "function 2",
        "func": "const title = 'AI MVP Development';\nconst description = `I am seeking a talented developer with expertise in MVP development, AI chatbot development, and API integrations to join a my startup in the AI-driven travel sector. We are considering the use of Bubble or similar no-code/low-code platforms to expedite development without compromising quality.\n\nWe are working with a limited budget initially, but this position offers substantial growth potential. The successful candidate will work closely with me to launch our first product. As we gain traction and secure further investment, there is a significant opportunity for you to advance to a leadership role, potentially becoming the Lead Developer or CTO.\n\nThis is more than a job—it's a chance to shape the future of travel with cutting-edge technology. If you're ready to take on this challenge and innovate in the dynamic intersection of tech and travel, let's discuss how we can make a global impact together.\n\nEffective communication is essential for this project. Therefore, we prefer candidates within three hours of Central European Time (CET) to ensure smooth collaboration. If you meet this criterion, we'd love to hear from you.`\n\nconst payload = {\n    title,\n    description,\n    date: new Date(),\n}\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 740,
        "wires": [
            [
                "b359af44360a2411"
            ]
        ]
    },
    {
        "id": "0df8e8a786235ad1",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "82191106e97d23eb",
        "type": "inject",
        "z": "98d41cddef00471d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "631fc859cb7c6a74"
            ]
        ]
    },
    {
        "id": "9eb3aaf1ef0d009a",
        "type": "change",
        "z": "98d41cddef00471d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "upwork",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "find",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{},{\"sort\":{\"date\":-1},\"projection\":{\"_id\":0,\"title\":1,\"description\":1,\"date\":1},\"limit\":20}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "9241633b808bf6b4"
            ]
        ]
    },
    {
        "id": "9241633b808bf6b4",
        "type": "mongodb4",
        "z": "98d41cddef00471d",
        "clientNode": "0765a7445c5bec6e",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 500,
        "y": 800,
        "wires": [
            [
                "f8dd69ef85182bdb"
            ]
        ]
    },
    {
        "id": "243b8431645d480b",
        "type": "inject",
        "z": "98d41cddef00471d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "9eb3aaf1ef0d009a"
            ]
        ]
    },
    {
        "id": "f8dd69ef85182bdb",
        "type": "debug",
        "z": "98d41cddef00471d",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 800,
        "wires": []
    },
    {
        "id": "03c1c9a32f485f20",
        "type": "mongodb4",
        "z": "adb9cf7a321a3e04",
        "clientNode": "0765a7445c5bec6e",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 670,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d8448d89a0af5831",
        "type": "change",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "feeds",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "insertOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "03c1c9a32f485f20",
                "fd1afc72f42fd233"
            ]
        ]
    },
    {
        "id": "a3bb3d801f56a891",
        "type": "amqp-in",
        "z": "adb9cf7a321a3e04",
        "name": "detect language",
        "broker": "204746069e0ec785",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "feeds",
        "exchangeType": "topic",
        "exchangeRoutingKey": "language_detection",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "ace441b12579fbbd"
            ]
        ]
    },
    {
        "id": "95a586729c7e7efb",
        "type": "change",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "routingKey",
                "pt": "msg",
                "to": "router",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "6895c07f025872d5"
            ]
        ]
    },
    {
        "id": "ace441b12579fbbd",
        "type": "function",
        "z": "adb9cf7a321a3e04",
        "name": "language detected",
        "func": "try {\n    const detectLanguage = global.get('detectLanguage');\n\n    msg.payload.language = detectLanguage(msg.payload.descriptionText);\n    msg.payload.languageDeteced = true;\n} catch (e) {\n    msg.payload.error = e.message;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 280,
        "wires": [
            [
                "95a586729c7e7efb"
            ]
        ]
    },
    {
        "id": "5cca478464e689ce",
        "type": "amqp-in",
        "z": "adb9cf7a321a3e04",
        "name": "router",
        "broker": "204746069e0ec785",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "feeds",
        "exchangeType": "topic",
        "exchangeRoutingKey": "router",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "ff354ce87bb3dae0"
            ]
        ]
    },
    {
        "id": "ff354ce87bb3dae0",
        "type": "function",
        "z": "adb9cf7a321a3e04",
        "name": "route key detector",
        "func": "if (msg.payload.error) {\n    return [null, null, msg];\n}\n\nif (msg.payload.documentCount > 0) {\n    return null\n}\nif (msg.payload.languageDeteced && \n    msg.payload.keywordsExtracted && \n    msg.payload.formated && \n    msg.payload.linkedInPostCreated &&\n    msg.payload.documentCount === 0) \n{\n    return [null,msg];\n}\n\nif (msg.payload.documentCount === undefined) {\n    msg.routingKey = 'deduplication_check';\n    return [msg, null];\n}\nif (!msg.payload.formated) {\n    msg.routingKey = 'format';\n    return [msg, null];\n}\n\nif (!msg.payload.languageDeteced) {\n    msg.routingKey = 'language_detection';\n    return [msg, null];\n}\n\nif (!msg.payload.keywordsExtracted) {\n    msg.routingKey = 'extract_keywords';\n    return [msg, null];\n}\n\nif (!msg.payload.linkedInPostCreated) {\n    msg.routingKey = 'linkedin_post'\n    return [msg, null];\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 120,
        "wires": [
            [
                "2d0d3ae0c5dc79c1"
            ],
            [
                "d8448d89a0af5831"
            ],
            [
                "d27546c2de7ec273"
            ]
        ]
    },
    {
        "id": "52832d31a11c171a",
        "type": "amqp-in",
        "z": "adb9cf7a321a3e04",
        "name": "extract keywords",
        "broker": "204746069e0ec785",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "feeds",
        "exchangeType": "topic",
        "exchangeRoutingKey": "extract_keywords",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "62b8f589f3539e51"
            ]
        ]
    },
    {
        "id": "abea33f2dc930680",
        "type": "change",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "routingKey",
                "pt": "msg",
                "to": "router",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "1ee4724e4d804ad3"
            ]
        ]
    },
    {
        "id": "62b8f589f3539e51",
        "type": "function",
        "z": "adb9cf7a321a3e04",
        "name": "keywords extracted",
        "func": "const generateTags = global.get('generateTags')\ntry {\n    msg.payload.keywords = generateTags(msg.payload.descriptionText);\n    msg.payload.keywordsExtracted = true;\n} catch (e) {\n    msg.payload.error = e.message;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 340,
        "wires": [
            [
                "abea33f2dc930680"
            ]
        ]
    },
    {
        "id": "d70f6ded4a099c43",
        "type": "amqp-in",
        "z": "adb9cf7a321a3e04",
        "name": "format",
        "broker": "204746069e0ec785",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "feeds",
        "exchangeType": "topic",
        "exchangeRoutingKey": "format",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "564a05423536d0cc"
            ]
        ]
    },
    {
        "id": "917d55892f1a8d89",
        "type": "change",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "routingKey",
                "pt": "msg",
                "to": "router",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "512d7177718c5ac8"
            ]
        ]
    },
    {
        "id": "564a05423536d0cc",
        "type": "function",
        "z": "adb9cf7a321a3e04",
        "name": "formated",
        "func": "function htmlToText(html) {\n  return html.replace(/<[^>]*>/g, '');\n}\n\ntry {\n  msg.payload.descriptionText = htmlToText(msg.payload.description);\n  msg.payload.formated = true;\n} catch (e) {\n    msg.payload.error = e.message;\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 400,
        "wires": [
            [
                "917d55892f1a8d89"
            ]
        ]
    },
    {
        "id": "f00cdd31d2754ede",
        "type": "http request",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://agi-receiver.lelos.xyz/message",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "a1d209727a873f8b"
            ]
        ]
    },
    {
        "id": "31df8fdb18d6b3b2",
        "type": "amqp-in",
        "z": "adb9cf7a321a3e04",
        "name": "linked post",
        "broker": "204746069e0ec785",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "feeds",
        "exchangeType": "topic",
        "exchangeRoutingKey": "linkedin_post",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 80,
        "y": 460,
        "wires": [
            [
                "b432ce9ae78eb871"
            ]
        ]
    },
    {
        "id": "57a5539f4a3c1b02",
        "type": "change",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "routingKey",
                "pt": "msg",
                "to": "router",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 460,
        "wires": [
            [
                "e0baddf4372fde3f"
            ]
        ]
    },
    {
        "id": "b4b8d51af8fa5745",
        "type": "function",
        "z": "adb9cf7a321a3e04",
        "name": "mapper",
        "func": "const linkedInPostPayload = msg.payload;\nmsg.payload = msg.tempPayload;\nmsg.payload.linkedInPostCreated = true\nmsg.payload.linkedInPost = linkedInPostPayload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 460,
        "wires": [
            [
                "57a5539f4a3c1b02"
            ]
        ]
    },
    {
        "id": "b432ce9ae78eb871",
        "type": "change",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempPayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"content\": tempPayload.descriptionText\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 460,
        "wires": [
            [
                "f00cdd31d2754ede"
            ]
        ]
    },
    {
        "id": "a1d209727a873f8b",
        "type": "json",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "b4b8d51af8fa5745"
            ]
        ]
    },
    {
        "id": "d27546c2de7ec273",
        "type": "change",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "feeds",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "insertOne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "1fd30e69d9a54f8b"
            ]
        ]
    },
    {
        "id": "65b36b3b357f78fd",
        "type": "amqp-in",
        "z": "adb9cf7a321a3e04",
        "name": "deduplication checker",
        "broker": "204746069e0ec785",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "feeds",
        "exchangeType": "topic",
        "exchangeRoutingKey": "deduplication_check",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "22f1ef9d5be9e078"
            ]
        ]
    },
    {
        "id": "22f1ef9d5be9e078",
        "type": "change",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempPayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "collection",
                "pt": "msg",
                "to": "feeds",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "operation",
                "pt": "msg",
                "to": "count",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"title\": tempPayload.title,\t    \"date\": tempPayload.date\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "120f44f157dacde7"
            ]
        ]
    },
    {
        "id": "120f44f157dacde7",
        "type": "mongodb4",
        "z": "adb9cf7a321a3e04",
        "clientNode": "0765a7445c5bec6e",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 530,
        "y": 220,
        "wires": [
            [
                "061986e926e2b373"
            ]
        ]
    },
    {
        "id": "061986e926e2b373",
        "type": "change",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "documentCount",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tempPayload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.documentCount",
                "pt": "msg",
                "to": "documentCount",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "documentCount",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "routingKey",
                "pt": "msg",
                "to": "router",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "39164be0e9333690"
            ]
        ]
    },
    {
        "id": "73c4bf0b72565dc6",
        "type": "link in",
        "z": "adb9cf7a321a3e04",
        "name": "Rabbit Exchange Link",
        "links": [
            "1ee4724e4d804ad3",
            "2d0d3ae0c5dc79c1",
            "39164be0e9333690",
            "512d7177718c5ac8",
            "6895c07f025872d5",
            "e0baddf4372fde3f",
            "ec10675d9ce489dc"
        ],
        "x": 45,
        "y": 560,
        "wires": [
            [
                "a46bd2365b22f364"
            ]
        ]
    },
    {
        "id": "a46bd2365b22f364",
        "type": "amqp-out",
        "z": "adb9cf7a321a3e04",
        "name": "Feeds exchange",
        "broker": "204746069e0ec785",
        "exchangeName": "feeds",
        "exchangeType": "topic",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": true,
        "amqpProperties": "{\"headers\":{}}",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 180,
        "y": 560,
        "wires": []
    },
    {
        "id": "2d0d3ae0c5dc79c1",
        "type": "link out",
        "z": "adb9cf7a321a3e04",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "73c4bf0b72565dc6"
        ],
        "x": 505,
        "y": 60,
        "wires": []
    },
    {
        "id": "39164be0e9333690",
        "type": "link out",
        "z": "adb9cf7a321a3e04",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "73c4bf0b72565dc6"
        ],
        "x": 855,
        "y": 220,
        "wires": []
    },
    {
        "id": "6895c07f025872d5",
        "type": "link out",
        "z": "adb9cf7a321a3e04",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "73c4bf0b72565dc6"
        ],
        "x": 675,
        "y": 280,
        "wires": []
    },
    {
        "id": "1ee4724e4d804ad3",
        "type": "link out",
        "z": "adb9cf7a321a3e04",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "73c4bf0b72565dc6"
        ],
        "x": 675,
        "y": 340,
        "wires": []
    },
    {
        "id": "512d7177718c5ac8",
        "type": "link out",
        "z": "adb9cf7a321a3e04",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "73c4bf0b72565dc6"
        ],
        "x": 555,
        "y": 400,
        "wires": []
    },
    {
        "id": "e0baddf4372fde3f",
        "type": "link out",
        "z": "adb9cf7a321a3e04",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "73c4bf0b72565dc6"
        ],
        "x": 1095,
        "y": 460,
        "wires": []
    },
    {
        "id": "fd1afc72f42fd233",
        "type": "link out",
        "z": "adb9cf7a321a3e04",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "b2954be27c6eed59"
        ],
        "x": 625,
        "y": 80,
        "wires": []
    },
    {
        "id": "1fd30e69d9a54f8b",
        "type": "mongodb4",
        "z": "adb9cf7a321a3e04",
        "clientNode": "0765a7445c5bec6e",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 670,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "59fe36d749d679c4",
        "type": "catch",
        "z": "adb9cf7a321a3e04",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "dac44fc12437c3ca"
            ]
        ]
    },
    {
        "id": "dac44fc12437c3ca",
        "type": "debug",
        "z": "adb9cf7a321a3e04",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "b2954be27c6eed59",
        "type": "link in",
        "z": "76076b827daf890b",
        "name": "Notion Link",
        "links": [
            "fd1afc72f42fd233"
        ],
        "x": 35,
        "y": 100,
        "wires": [
            [
                "272c9f5b9c872375"
            ]
        ]
    },
    {
        "id": "c90be7dfa8ba550d",
        "type": "create page",
        "z": "76076b827daf890b",
        "integration": "2e9215f9fed73afd",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "abfc52a6d7caabee"
            ]
        ]
    },
    {
        "id": "624c2c82ab96a6b2",
        "type": "append block children",
        "z": "76076b827daf890b",
        "integration": "2e9215f9fed73afd",
        "x": 780,
        "y": 100,
        "wires": [
            [
                "3d8efdacb869e5a0"
            ]
        ]
    },
    {
        "id": "abfc52a6d7caabee",
        "type": "change",
        "z": "76076b827daf890b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "blockId",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"children\":[\t       {\t           \"paragraph\":{\t               \"rich_text\":[\t                   {\t                       \"text\":{\t                           \"content\":tempPayload.linkedInPost\t                       }\t                   }\t               ]\t           }\t       }\t   ]\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "624c2c82ab96a6b2"
            ]
        ]
    },
    {
        "id": "272c9f5b9c872375",
        "type": "change",
        "z": "76076b827daf890b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempPayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"parent\":{\t       \"database_id\":\"86fac854e975475a8435b6fe3fe922b8\"\t   },\t   \"properties\":{\t       \"Name\":{\t           \"title\":[{\"text\":{\"content\":tempPayload.title}}]\t       },\t       \"Date\":{\"date\":{\"start\": $moment($moment()).format(\"YYYY-MM-DD\")}}\t   }\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "c90be7dfa8ba550d"
            ]
        ]
    },
    {
        "id": "3d8efdacb869e5a0",
        "type": "debug",
        "z": "76076b827daf890b",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "01278428362ff0cf",
        "type": "catch",
        "z": "76076b827daf890b",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "37c856b39afab0b0"
            ]
        ]
    },
    {
        "id": "37c856b39afab0b0",
        "type": "debug",
        "z": "76076b827daf890b",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "fff9da97b05a4227",
        "type": "query database",
        "z": "be070c1ddf78f5bd",
        "integration": "2e9215f9fed73afd",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "12d01e0d30838de8"
            ]
        ]
    },
    {
        "id": "4507c4c4d9e4554f",
        "type": "inject",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "props": [
            {
                "p": "pageId",
                "v": "86fac854e975475a8435b6fe3fe922b8",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "fff9da97b05a4227"
            ]
        ]
    },
    {
        "id": "12d01e0d30838de8",
        "type": "debug",
        "z": "be070c1ddf78f5bd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "76530509eae4d170",
        "type": "get page",
        "z": "be070c1ddf78f5bd",
        "integration": "2e9215f9fed73afd",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "b8e7ba38e9493f1c"
            ]
        ]
    },
    {
        "id": "99c3205dcfe8daae",
        "type": "inject",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "props": [
            {
                "p": "pageId",
                "v": "5394310b-4d94-46e1-8bd2-3ed17b44aeab",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "76530509eae4d170"
            ]
        ]
    },
    {
        "id": "b8e7ba38e9493f1c",
        "type": "debug",
        "z": "be070c1ddf78f5bd",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "ee4850bd45e11287",
        "type": "update page",
        "z": "be070c1ddf78f5bd",
        "integration": "2e9215f9fed73afd",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "e79573c740e73354"
            ]
        ]
    },
    {
        "id": "e2eb8f7519f98cae",
        "type": "inject",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "props": [
            {
                "p": "pageId",
                "v": "5394310b-4d94-46e1-8bd2-3ed17b44aeab",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "ee4850bd45e11287"
            ]
        ]
    },
    {
        "id": "e79573c740e73354",
        "type": "debug",
        "z": "be070c1ddf78f5bd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 420,
        "wires": []
    },
    {
        "id": "0c00abc48d7dc668",
        "type": "get block children",
        "z": "be070c1ddf78f5bd",
        "integration": "2e9215f9fed73afd",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "4e69eaea9bdb65ac"
            ]
        ]
    },
    {
        "id": "ac7d58b5cb1a7d58",
        "type": "inject",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "props": [
            {
                "p": "blockId",
                "v": "5394310b-4d94-46e1-8bd2-3ed17b44aeab",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "0c00abc48d7dc668"
            ]
        ]
    },
    {
        "id": "4e69eaea9bdb65ac",
        "type": "debug",
        "z": "be070c1ddf78f5bd",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 480,
        "wires": []
    },
    {
        "id": "edea20d0b7b2b37f",
        "type": "get database",
        "z": "be070c1ddf78f5bd",
        "integration": "2e9215f9fed73afd",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "50c7790dd2fc5c98"
            ]
        ]
    },
    {
        "id": "012911f5a79e75d0",
        "type": "inject",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "props": [
            {
                "p": "pageId",
                "v": "86fac854e975475a8435b6fe3fe922b8",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "edea20d0b7b2b37f"
            ]
        ]
    },
    {
        "id": "50c7790dd2fc5c98",
        "type": "debug",
        "z": "be070c1ddf78f5bd",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "0c9bd70ef30aaee1",
        "type": "create page",
        "z": "be070c1ddf78f5bd",
        "integration": "2e9215f9fed73afd",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "f3cfd246699e3f43"
            ]
        ]
    },
    {
        "id": "42c9342d9466c1bb",
        "type": "inject",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"parent\":{\"database_id\":\"86fac854e975475a8435b6fe3fe922b8\"},\"properties\":{\"Name\":{\"title\":[{\"text\":{\"content\":\"Hello, world!\"}}]},\"Date\":{\"date\":{\"start\":\"2024-05-07\"}}}}",
        "payloadType": "json",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "0c9bd70ef30aaee1"
            ]
        ]
    },
    {
        "id": "7a89a58b2e647ec1",
        "type": "debug",
        "z": "be070c1ddf78f5bd",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "blockId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "195e44edbb584018",
        "type": "append block children",
        "z": "be070c1ddf78f5bd",
        "integration": "2e9215f9fed73afd",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "bc2b6b34cd235c2e"
            ]
        ]
    },
    {
        "id": "a439177eeb3489f0",
        "type": "inject",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "blockId",
                "v": "48585397-846f-4c56-a829-243bfdc9ae42",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"children\":[{\"heading_2\":{\"rich_text\":[{\"text\":{\"content\":\"Lacinato kale\"}}]}},{\"paragraph\":{\"rich_text\":[{\"text\":{\"content\":\"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\"link\":{\"url\":\"https://en.wikipedia.org/wiki/Lacinato_kale\"}}}]}}]}",
        "payloadType": "json",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "195e44edbb584018"
            ]
        ]
    },
    {
        "id": "bc2b6b34cd235c2e",
        "type": "debug",
        "z": "be070c1ddf78f5bd",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "f3cfd246699e3f43",
        "type": "change",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "blockId",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"children\":[{\"paragraph\":{\"rich_text\":[{\"text\":{\"content\":\"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\"}}]}}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "7a89a58b2e647ec1",
                "195e44edbb584018"
            ]
        ]
    },
    {
        "id": "fbad852278ef807c",
        "type": "inject",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t   \"parent\":{\t       \"database_id\":\"86fac854e975475a8435b6fe3fe922b8\"\t   },\t   \"properties\":{\t       \"Name\":{\t           \"title\":[{\"text\":{\"content\":\"Hello, world!\"}}]\t       },\t       \"Date\":{\"date\":{\"start\": $moment($moment()).format(\"YYYY-MM-DD\")}}\t   }\t}",
        "payloadType": "jsonata",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "0c9bd70ef30aaee1"
            ]
        ]
    },
    {
        "id": "6595ead082118444",
        "type": "inject",
        "z": "be070c1ddf78f5bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "operation",
                "v": "count",
                "vt": "str"
            },
            {
                "p": "collection",
                "v": "feeds",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"title\":\"TikTok zet aanval in tegen wet VS die app dwingt tot verkoop of verbod\",\"date\":\"2024-05-07T18:13:27.000Z\"}",
        "payloadType": "json",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "9c9473c896a4491c"
            ]
        ]
    },
    {
        "id": "9c9473c896a4491c",
        "type": "mongodb4",
        "z": "be070c1ddf78f5bd",
        "clientNode": "0765a7445c5bec6e",
        "mode": "collection",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "e38e62e1758f41b2"
            ]
        ]
    },
    {
        "id": "e38e62e1758f41b2",
        "type": "debug",
        "z": "be070c1ddf78f5bd",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "3d5731fdaf042ea2",
        "type": "uibuilder",
        "z": "89829a181a0a3d4b",
        "name": "",
        "topic": "",
        "url": "web",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "oldUrl": "/web",
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "6.8.2",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "x": 210,
        "y": 100,
        "wires": [
            [],
            []
        ]
    }
]